<div class ="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-header">
    <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" [(ngModel)] = "daisy">
    <button (click)="submit()" class="btn btn-primary">search</button>
    </div>
</div>
</div>
</div>

<!-- <h1>{{daisy.search}}</h1> -->
<h1>Date: {{ showData.date }}</h1>
<h1>Open: {{ showData.open }}</h1>
<h1>High: {{ showData.high }}</h1>
<h1>Low: {{ showData.low }}</h1>
<h1>Close: {{ showData.close }}</h1>
 