<!-- <nav>
    <div class="mt-4">
    <div class="header-container">
      <h1>customers Records</h1>
    </div>
    </div>
  </nav>
  
  <div class="container">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Company Description</th>
        <th scope="col">Company Start Year</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let customers of users">
        <td>{{customers.CompanyName}}</td>
        <td>{{customers.CompanyDescription}}</td>
        <td>{{customers.CompanyStartYear}}</td>
        <td>
            <button type="button" class="btn btn-outline-primary" (click)="toggleDetails(customers)">View Details</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
  <app-tables [customers]="customers"></app-tables> -->